body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.login-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
img{
    width: 45px;
}
.left{
    height: 100vh;
    background-color: #000;
}
.right{
    background-color: #fff;
    height: 100vh;
    display: flex;
    gap: 25px;
    flex-direction: column;
    place-items: center;
    place-content: center;
}

.right > button{
    background-color: #34A853;
    width: 350px;
    color: #fff;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 12px 12px;
    border: none;
    cursor: pointer;
}
.right > button:hover{
    background-color: #2ecc71;
}
.right > h4{
    text-align: center;
    line-height: 1.8;
}

@media screen and (max-width: 800px){
    .login-grid{
        grid-template-columns: 1fr;
    }
    .left{
        display: none;
    }
    .right{
        display: flex;
        gap: 25px;
        flex-direction: column;
        place-items: center;
        place-content: center;
    }
}
@media screen and (max-width: 450px){
    .right > button{
        width: 300px;
        height: 45px;
    }
}
